* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

/* NAVIGATION BAR */

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  height: 75px;
  line-height: 75px;
  background: #000000;
}

nav .navbar-brand {
  color: #dedede;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: .5px;
}

nav .nav-list {
  display: flex;
}

nav .nav-list .nav-item {
  cursor: pointer;
  height: 100%;
  padding: 0 30px;
  transition: .4s;
}

nav .nav-list .nav-item:hover {
  background: #484848;
}

nav .nav-list .nav-link {
  color: #dedede;
  font-size: 18px;
  font-weight: 500;
}


nav .navbar-toggler {
  display: none;
  height: min-content;
  margin: 18px -10px 0 0;
  cursor: pointer;
}

nav .navbar-toggler .bar {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background: #dedede;
  border-radius: 10%;
  transition: .4s;
}

input {
  display: none;
}
 
input:checked ~ nav .nav-list {
  transform: translateY(0);
}

@media (max-width: 935px) {

  nav {
      padding: 0 2rem;
  }

  nav .nav-list .nav-item {
      padding: 0 20px;
  }

}

@media (max-width: 675px) {

  nav .nav-list {
      display: grid;
      position: absolute;
      background: #404040;
      width: 100%;
      top: 75px;
      left: 0;
      transform: translateY(-100%);
      z-index: -1;
      transition: .6s;
  }

  nav .nav-list .nav-item {
      padding-left: 35px;
  }

  nav .navbar-toggler {
      display: grid !important;
  }

}

/* END OF NAVIGATION BAR */

/* ABOUT ME */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-header {
  text-align: center;
  margin-top: 50px;
}

.row {
  width: 80%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  z-index: -2;
}

.row .left {
  overflow: hidden;
}

.row .left img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  margin-top: 30px;
  border-radius: 20px;
}

.row .right {
  display: flex;
  align-items: center;
}

.row .right p {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 768px) {
  .row {
      width: 90%;
      grid-template-columns: 1fr;
      margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
	.about {
		width: 100%;
		margin: 0 auto;
		flex-direction: column;
	}
	.about .about-info {
		width: 100%;
		text-align: center;
	}
}
